.navFont, .specialFont{
    /* font-family: 'open sans'; */
    /* letter-spacing: 1px; */

    /* font-family: 'DM Serif Text', serif; */
    font-family: 'Patrick Hand', serif;
    font-family: 'Open Sans Condensed', serif;
    font-weight: 700;
}

